$max-width: 1500px;
$side-padding: 60px;

// Primary Colors
$blue: #4D8AF0;
$hover-blue: darken($blue, 10);
$trans-blue: rgba(0, 158, 235, 0.2);
$blue-2: #008dd1;
$green: #13ce66;
$hover-green: #0f9f4f;
$yellow: #ffc82c;
$hover-yellow: #f8b700;
$red: #ff5216;
$hover-red: #e23a00;
$trans-blue: #ECF2FD;
$orange: #F58E44;
$trans-orange: #FEF7F2;
$air-bnb: #FF5A5F;
$green: #5FAD56;
$trans-green: #F0FCF8;

//Greys
$white: #fff;
$off-white: #f8fafa;
$grey-1: #f1f1f1;
$grey-2: #d8d8d8;
$grey-3: #a3a3a3;
$grey-4: #818181;
$black: #282828;

// Box Shadow

$shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md: 0px 4px 8px rgba(0, 0, 0, 0.12),
0px 2px 4px rgba(0, 0, 0, 0.0008);
$shadow-lg: 0px 15px 30px rgba(0, 0, 0, 0.11),
0px 15px 5px rgba(0, 0, 0, 0.0008);
$no-shadow: none;

//Misc
$buttonHeight: 41px;
$transition: all 300ms cubic-bezier(.475, .425, 0, .995);
$easing: cubic-bezier(.475, .425, 0, .995);
$constrained: 600px;
$constrained-lg: 1000px;

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    background: $off-white;
}

div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
textarea,
button {
    font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold;
}

a {
    text-decoration: none !important;
    font-size: 16px;
    color: #000;
}

p {
    font-size: 16px;
}

div,
a {
    box-sizing: border-box;
}

.blue {
    color: $blue;

    &.link {
        cursor: pointer;
        transition: all 300ms ease;

        :hover {
            color: $hover-blue;

        }
    }
}

.orange {
    color: $orange;
}

.green {
    color: $green;
}

.grey {
    color: #818181;
}

.dot {
    width: 5px;
    height: 5px;
    background: #a3a3a3;
    border-radius: 50%;
    margin: 0 10px;
}

button,
.btn {
    border: none;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: inline-block;
    outline: none;

    &.primary {
        background: $blue;
        color: #fff;
        border: 2px solid $blue;

        &:hover {
            background: $hover-blue;
            border: 2px solid $hover-blue;
        }
    }

    &.outline {
        color: $blue;
        border: 2px solid $blue;

        &:hover {
            background: $hover-blue;
            border: 2px solid $hover-blue;
            color: #fff;
        }
    }

    &.icon-btn {
        display: flex;

        svg {
            width: 20px;
            height: 20px;
        }

        span {
            margin-left: 5px;
            line-height: 19px;
        }
    }
}

// Tab header

.tab-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-2;
    border-left: none;
    border-right: none;
    // margin: 0 -30px 0;

    .tab-trigger {
        padding: 20px 20px 17px;
        border-bottom: 3px solid transparent;
        margin-bottom: -1px;
        transition: $transition;

        &:hover {
            border-color: $grey-2;
        }

        &.active {
            color: $blue;
            border-color: $blue;
        }
    }
}

// Tabs / Tab Pane

.tab-pane {
    display: none;

    &.open {
        display: block;
    }
}

.tab-trigger {
    cursor: pointer;
    transition: $transition;

    >* {
        pointer-events: none;
    }
}


.top-bar {
    background: #fff;
    padding: 20px $side-padding;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.062);
    position: sticky;
    top: 0;
    z-index: 3;

    @media (max-width: 1200px) {
        padding: 20px 30px;
        box-shadow: none;
        border-bottom: 1px solid $grey-2;
    }

    .agent-pic {
        width: 58px;
        height: 58px;
        border-radius: 50%;
    }

    @media (max-width: 1000px) {
        .agent-contact {
            >a {
                margin-right: 20px !important;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 800px) {
        .actions {
            a:first-child {
                display: none;
            }
        }
    }
}

.sidebar-grid {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: $max-width;
    padding: 0 $side-padding;
    margin: 30px auto 60px;
    width: 100%;
    overflow-x: hidden;

    @media (max-width: 1200px) {
        padding: 0 30px;
    }

    @media (max-width: 1000px) {
        padding: 0 20px 0 0;
        margin: 0 0 60px;
        align-items: unset;
    }

    &.hv-sidebar {

        @media (max-width: 1200px) {
            padding: 0;
            margin: 0 0 60px;
            align-items: unset;
        }

        .sidebar {
            width: 315px;
            position: relative;
            top: unset;
            height: auto;
        }

        .page-content {
            width: calc( 100% - 30px - 315px);
            margin-left: 30px;
            // padding-bottom: 60px;

            @media (max-width: 1200px) {
                margin: 0;
            }
        }
    }

    .sidebar {
        width: 315px;

        @media (max-width: 1000px) {
            width: 250px;
            position: fixed;
            top: 98px;
            height: 100%;
        }
    }

    .page-content {
        flex: 1;
        margin-left: 30px;
        // padding-bottom: 60px;

        @media (max-width: 1000px) {
            margin: 20px 0 0 270px;
        }
    }
}

.nav {
    border: 1px solid #e7e7e7;

    @media (max-width: 1000px) {
        height: 100%;
        border-top: none;
    }

    .link {
        width: 100%;
        padding: 20px;
        font-weight: bold;
        border-bottom: 1px solid #E7E7E7;
        border-right: 3px solid transparent;
        color: #000;
        transition: all 300ms ease;
        background: #fff;

        &:hover {
            background: #f3f3f3;
        }

        &.active {
            border-right-color: $blue;
            color: $blue;
            background: #f8f8f8;
        }

        &.inactive {
            pointer-events: none;
            color: #a3a3a3;
        }

        &:last-child {
            border-bottom: none;

            @media (max-width: 1000px) {
                border-bottom: 1px solid #e7e7e7;
            }
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.toolbar {
    border: 1px solid #e7e7e7;
    padding: 20px;
    margin-bottom: 30px;
    background: $white;

    @media (max-width: 1000px) {
        padding: 0;
        border: none;
    }
}

// Flex Only Browsers
.card-grid {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: calc(33.33% - 20px);
        margin: 0 10px 30px;
        background: $white;

        @media (max-width: 1450px) {
            width: calc(50% - 15px);
            margin: 0 7.5px 30px;
        }

        @media (max-width: 1000px) {
            width: 100%;
        }
    }
}

// Grid Supported Browsers
@supports (display: grid) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        grid-gap: 30px;

        @media (max-width: 1000px) {
            grid-gap: 20px;
        }

        .card {
            width: unset;
            margin: 0;

            .card-inner {
                margin: 0;
            }
        }
    }
}

.card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    margin: 25px auto 0;
    padding: 0 10px;

    .action {
        display: flex;
        align-items: center;
        font-size: 16px;
        transition: all 300ms ease;
        color: #000;
        cursor: pointer;

        &:hover {
            color: $blue;
        }

        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
}


// HOME VALUE GRID

.card .hv-report {
    .listing-img {
        height: 180px;
        display: block;
        position: relative;

        .price-tag {
            position: absolute;
            padding: 5px 10px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 18px;
            margin: 10px 0 0 10px;
            border-radius: 3px;
            font-weight: bold;
        }
    }

    .hv-bottom {
        padding: 20px;
        border: 1px solid #e7e7e7;


        .address {

            span {
                font-size: 14px;
                margin-top: 5px;
                display: block;
            }
        }

        .set-primary {
            cursor: pointer;
            transition: all 300ms ease;
            position: relative;

            &.active {
                cursor: initial;

                svg {
                    fill: #F2DC5D;

                    path {
                        stroke: #F2DC5D !important;
                    }
                }

                &:before {
                    content: "Your Primary Residence";
                }
            }

            &:before {
                content: "Make Primary Residence";
                background: rgba(0, 0, 0, 0.75);
                padding: 5px;
                font-size: 16px;
                color: #fff;
                position: absolute;
                left: 50%;
                top: -10px;
                display: inline-block;
                white-space: nowrap;
                transform: translate(-50%, -50%);
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: all 300ms ease;
                z-index: 2;
            }

            &:hover {
                &:before {
                    top: -20px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .details {
            span {
                font-size: 16px;
            }
        }
    }
}

// Home Value Report Sidebar

.prop-details {
    background: $white;
    
    .map-wrapper {
        height: 175px;
        position: relative;

        .back {
            position: absolute;
            z-index: 1;
            left: 10px;
            top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 300ms ease;

            &:hover {
                background: #f3f3f3;
            }
        }
    }

    .bottom {
        padding: 20px;
        border: 1px solid #e7e7e7;
        border-top: none;
        margin-bottom: 20px;

        @media (max-width: 1200px){
            margin-bottom: 0;
        }
    }

    h2 {
        margin: 0 0 10px;
    }

    .details {
        margin: 20px 0 0;
    }
}

.box {
    padding: 20px;
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background: $white;

    @media (max-width: 1200px){
        margin-bottom: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .header {
        padding: 0 0 15px;
        border-bottom: 1px solid #e7e7e7;
        position: relative;

        .circle-icon {
            background: $trans-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 50px;
            min-height: 50px;
            margin-right: 15px;
            border-radius: 50%;
            color: $blue;
        }

        .edit {
            position: absolute;
            right: -5px;
            top: -5px;

            svg {
                height: 218x;
                width: 18px;
            }
        }

        .label {
            font-size: 14px;
            margin-bottom: 5px;
            display: block;
            text-align: left;
            padding: 0;
        }
    }
}

.estimate-range {
    margin-top: 15px;

    .tag {
        padding: 5px;
        font-size: 14px;

        &.high {
            color: $green;
            background: $trans-green;
        }

        &.low {
            color: $orange;
            background: $trans-orange;
        }
    }
}

.section-headline {
    border-bottom: 5px solid $black;
    padding: 5px 0 10px;
    display: inline-flex;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.headline-label {
    display: block;
}

.share-download{
    position: absolute;
    top: 84px;
    z-index: 2;
    left: 30px;
}

//HV Report Content

.hv-report-wrapper {    
    position: relative;

    .tab-wrapper {
        padding: 17px 0 0 0;
        background: #fff;

        .tab-trigger {
            padding-top: 0;
        }

        .add-report {
            border-bottom: 1px solid $grey-2;
            padding: 0 20px 15px 0;
            margin-top: -3px;
        }
    }

    .tab-pane {
        border: 1px solid $grey-2;
        background: $white;
    }

    // Home Value Tab

    .current-home-value {
        border-bottom: 1px solid $grey-1;
        padding: 50px 30px 40px;
        text-align: center;

        .gradient-bar-wrapper {
            max-width: $constrained;
            margin: 35px auto 20px;

            .gradient-bar {
                height: 22px;
                background: linear-gradient(90deg, #F58E44 0%, #00D48D 100%);
                border-radius: 22px;
                margin-bottom: 5px;
            }

            .grey {
                margin-top: 5px;
                font-size: 14px;
            }

            .highest {
                text-align: right;
            }

            .lowest {
                text-align: left;
            }
        }

        .other-estimates {
            max-width: $constrained;
            margin: 15px auto 0;
            border-top: 1px solid $grey-1;
            padding: 20px 0 0;

            .col {
                width: 50%;
                text-align: center;

                img {
                    max-height: 25px;
                    margin: 0 auto 10px;
                    display: block;
                }
            }
        }
    }

    .comp-table-block {

        table {
            width: 100%;
            padding: 20px;

            thead {
                border-bottom: 1px solid $grey-1;
                text-align: left;

                th {
                    padding: 20px 30px;
                    font-weight: bold;

                    @media (max-width: 1200px){
                        &:last-child{
                            display: none;
                        }
                    }
                }
            }

            tbody {
                border-top: none;

                td {
                    padding: 15px 30px;

                    @media (max-width: 1200px){
                        &:last-child{
                            display: none;
                        }
                    }
                }

                tr {
                    transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);

                    &:hover {
                        background: #f8fafa;
                    }

                    &:first-child td {
                        padding: 20px 30px 15px;
                    }

                    &:last-child td {
                        padding: 14px 30px 30px;
                    }
                }
            }
        }

        .plus-minus {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-left: 5px;
            display: none;

            &.up {
                color: $green;
                display: block;
            }

            &.down {
                color: $orange;
                display: block;
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .chart-block {
        padding: 30px;
        border-top: 1px solid #e7e7e7;
        
        .chart-legend {
            margin-bottom: 15px;
            font-size: 14px;
    
            > div {
                margin-left: 20px;
    
                &:first-child {
                    margin-left: 0;
                }
            }
    
            .color {
                border-radius: 50%;
                width: 8px;
                height: 8px;
                background: #79C7FF;
                margin-right: 5px;
    
                &.comp-houses {
                    background: #BBE3FF;
                }
            }
        }

        .chart-wrapper{
            height: 28vw;
            max-height: 400px;
        }
    }

    // No Equity Report

    .no-equity-report{
        max-width: $constrained;
        margin: 0 auto;

        .equity-header{
            text-align: center;
            img{
                width: 95px;
            }
        }

        .equity-form-wrapper{
            position: relative;

            input{
                font-size: 16px;
                color: #000;
                background: #fff;
                border: 1px solid $grey-2;
                transition: all 300ms ease;
                padding: 10px 15px;
                outline: none !important;
                width: 100%;

                &:hover{
                    border-color: $black;
                }
            }

            label{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;

                svg{
                    width: 20px;
                    height: 20px;
                }
            }

            .dropdown-toggle{
                font-size: 16px;
                color: #000;
                background: #fff;
                border: 1px solid $grey-2;
                transition: all 300ms ease;
                padding: 10px 15px;
                cursor: pointer;
            }

            .dropdown-menu{
                li{
                    cursor: pointer;
                    transition: all 300ms ease;
                    background: #f3f3f3;
                    padding: 10px 20px;
                    margin: 0;
                    
                    &:hover{
                        background: #e4e4e4;
                    }
                }
            }

            .input-row{
                display: flex;
                align-items: flex-start;

                .input-wrapper{
                    flex: 1;
                    margin-left: 20px;

                    &:first-child{
                        margin-left: 0;
                    }
                }
            }

            .split-input{
                display: flex;

                .prefix, .suffix{
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px 15px;
                    font-size: 16px;
                    background: $grey-2;
                }
            }

            button{
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
}

.comps{
    text-align: center;
    padding: 30px;
    border-top: 1px solid $grey-1;
    background: #fff;

    h1{
        margin: 0 auto 20px;
    }

    >p{
        max-width: $constrained;
        margin: 0 auto;
        line-height: 19px;
        font-size: 16px;
    }

    .stats-wrapper{
        margin: 40px 0 20px;

        @media (max-width: 1100px){
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .stat{
            padding: 15px;
            border: 1px solid $grey-2;
            flex: 1;
            display: flex;
            align-items: flex-start;
            text-align: left;
            margin-left: 10px;

            @media (max-width: 1100px){
                width: calc(50% - 10px);
                margin: 0 0 10px;
                flex: unset;
            }

            &:first-child{
                margin: 0;

                @media (max-width: 1100px){
                    margin: 0 0 10px;
                }
            }

            .circle-icon {
                background: $trans-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 42px;
                min-height: 42px;
                margin-right: 15px;
                border-radius: 50%;
                color: $blue;
            }

            .grey{
                font-size: 14px;
                margin: 0 0 5px;
            }
        }
    }

    .map-wrapper{
        position: relative;
        height: 530px;
        border: 1px solid $grey-2;
        margin-bottom: 20px;
    }

    .comps-filters{
        position: absolute;
        width: 100%;
        bottom: 0;
        background: rgba(255,255,255, .90);
        text-align: left;
        border-top: 1px solid $grey-2;
    
        @media(max-width: 630px){
            border: none;
        }
    
        .filters-wrapper{
            display: flex;
            align-items: flex-start;
            width: 100%;
            transition: height 300ms ease;
    
            @media(max-width: 630px){
                height: 0;
                overflow: hidden;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 10px;
    
                &.show{
                    height: 330px;
                }
    
                .filter, .filter-left{
                    width: 100%;
                }
            }
        }
    
        .filters-inner{
            display: flex;
            padding: 20px 0;
            padding: 20px;
            margin: 0 auto;
    
            .filter-left{
                display: flex;
                align-items: flex-start;
            }
    
            .filter{
                margin-left: 25px;
    
                &:first-child{
                    margin-left: 0;
                }
    
                .filter-label{
                    font-weight: bold;
                    font-size: 14px;
                }
    
                .dropdown-toggle{
                    border: 1px solid $grey-2;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px 16px;
                    width: 150px;
                    margin-top: 5px;
                    font-size: 14px;
                    cursor: pointer;
                    transition: all 300ms ease;
    
                    &:hover{
                        background: #f3f3f3;
                    }
    
                    @media (max-width: 730px){
                        width: 140px;
                    }
    
                    @media(max-width: 630px){
                        width: 100%;
                    }
                }
    
                .dropdown-menu{
                    li{
                        cursor: pointer;
                        transition: all 300ms ease;
                        background: #f3f3f3;
                        padding: 10px 20px;
                        margin: 0;
                        
                        &:hover{
                            background: #e4e4e4;
                        }
                    }
                }
            }
    
            .mobile-filters-toggle{
                display: none;
                color: #009eeb;
                align-items: center;
                cursor: pointer;
    
                @media(max-width: 630px){
                    display: flex;
                }
    
                svg{
                    width: 16px;
                    height: 16px;
                    margin-right: 10px;
                }
            }
        }
    }

    .comps-slider{
        
        .listing-slide{
            outline: none !important;

            .slide-inner{
                margin: 0 10px;
            }

            .listing-image{
                height: 160px;
                display: block;
                position: relative;

                .price-tag {
                    position: absolute;
                    padding: 5px 10px;
                    background: rgba(0, 0, 0, 0.5);
                    color: #fff;
                    font-size: 18px;
                    margin: 10px 0 0 10px;
                    border-radius: 3px;
                    font-weight: bold;
                }
            }
        }
        
        .bottom{
            text-align: left;
            padding: 15px;
            border: 1px solid $grey-2;
            border-top: none;

            .street{
                font-size: 20px;
            }

            .city{
                font-size: 16px;
                margin: 5px 0 15px;
            }

            .details{
                font-size: 16px;
                padding: 0 0 15px;
                border-bottom: 1px solid $grey-2;
                margin-bottom: 15px;
            }

            .distance-details{
                margin-bottom: 25px;
            }

            .toggle-comp{
                color: $blue;
                display: flex;
                align-items: center;
                cursor: pointer;

                svg{
                    width: 20px;
                    height: 20px;
                }
            }

            .status-number{
                border-radius: 50%;
                height: 23px;
                width: 23px;
                text-align: center;
                justify-content: center;
                align-items: center;
                display: flex;
                background: $blue;
                color: $white;
                line-height: 0;
                font-size: 14px;

                &.active{
                    background: #7551E9;
                }
                &.pending{
                    background: #0A43D2;
                }
                &.sold{
                    background: #2DCA73;
                }
            }
        }
    }

    .arrows{
        display: flex;
        align-self: center;
        justify-content: space-between;
        width: 120px;
        margin: 20px auto 0;

        .arrow{
            cursor: pointer;
            transition: all 300ms ease;

            &:hover{
                color: $blue;
            }

            &.slick-disabled{
                color: $grey-3 !important;
                cursor: auto;
            }

            svg{
                width: 30px;
                height: 30px;
            }
        }
    }
}

// Equity Report

.equity-report{
    text-align: center;

    .headline-label{
        margin: 50px 0 5px;
    }

    h1{
        margin: 0 0 40px;
    }

    .equity-breakdown{
        margin: 20px 30px 30px;

        .col{
            width: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &.left, &.right{
                .blue, .orange{
                    font-size: 40px !important;
                    margin: 10px 0 5px;
                }
            }

            &.center{
                position: relative;

                // &:hover{
                //     .total-paid{
                //         opacity: 0;
                //     }
                // }

                .total-paid{
                    height: 170px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .grey{
                        font-size: 14px;
                        margin-top: -3px;
                        display: block;
                    }

                    h3{
                        margin: 10px 0 0;
                        font-size: 24px;
                    }
                }
            }
        }

        .equity-chart-wrapper{
            height: 100%;
            z-index: 2;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            canvas{
                height: 100%;
            }
        }
    }

    .update-mortgage{
        padding: 15px 0 40px;
        margin: 0 auto 40px;
        max-width: $constrained;
        border-bottom: 1px solid $grey-1;
    }

    .what-if-wrapper{
        font-size: 20px;

        input{
            margin: 0 10px;
            padding: 5px 10px;
            max-width: 95px;
            outline: none;
        }
    }

    .what-if-result{
        font-size: 36px;
        font-weight: bold;
        margin: 20px 0 15px;
    }

    .what-if-description{
        border-bottom: 1px solid $grey-1;
        padding: 0 0 50px;
        margin: 0 0 50px;
    }

    .refi-options-wrapper{
        padding: 0 30px;
        text-align: left;

        .col{
            width: calc(33.33% - 20px);
            margin: 0 10px;
            padding: 15px;
            border: 1px solid $grey-2;
        }

        .value{
            font-size: 30px;
            margin: 15px 0 20px;
        }

        .header{
            .term{
                font-size: 20px;
                font-weight: bold;
                margin: 0 0 5px;
            }
        }

        .pros-cons-wrapper{
            
            .item{
                svg{
                    min-width: 20px;
                    min-height: 20px;
                    width: 20px;
                    height: 20px;
                }
                span{
                    color: #000;
                }
            }
        }
    }
}

// Future Plans

#future-plans{
    h1{
        text-align: center;
        margin: 0 auto;
    }
    .plan-select{
        text-align: center;
        padding: 50px 30px;
        border-bottom: 1px solid $grey-1;

        .headline-label{
            margin: 20px 0 30px;
        }

        .plans-wrapper{
            .plan{
                position: relative;
                flex: 1;
                border: 1px solid $grey-2;
                margin-left: 20px; 
                transition: $transition;

                &:hover{
                    border-color: $blue;

                    .check{
                        background: $trans-blue;
                    }
                }

                &.active{
                    background: $trans-blue;
                    border-color: $blue;

                    .check{
                        background: $blue;
                        color: $white;
                    }
                }

                &:first-child{
                    margin: 0;
                }

                &.rent img{
                    margin-left: 24px;
                }

                .check{
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translate(50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    color: $grey-4;
                    background-color: $grey-2;
                    border-radius: 50%;
                    transition: $transition;

                    svg{
                        height: 15px;
                        width: 15px;
                    }
                }

                h3{
                    margin: 15px 0 10px;
                }
                
                p{
                    line-height: 19px;
                }
            }
        }
    }

    .configure-plan{
        text-align: center;
        display: none;

        &.open{
            display: block;
        }
    }

    #sell-config{

        .sell-top{
            padding: 50px 30px 40px;
            border-bottom: $grey-2 solid 1px;
            max-width: $constrained;
            margin: 0 auto 40px;

            .cost-estimate{
                font-size: 40px;
            }

            .location-wrapper{
                margin: 25px 0 30px;
                font-size: 16px;

                input{
                    font-size: 16px;
                    padding: 10px;
                    margin: 0 10px;
                    max-width: 137px;
                    color: $blue;
                }
            }
        }

        .monthly{
            border-bottom: 1px solid $grey-2;
            padding: 0 0 40px;

            .headline{
                font-size: 40px;
                margin: 0 0 10px;
            }
            
            .monthly-config{
                text-align: left;
                max-width: $constrained;
                margin: 0 auto;

                .input-wrapper{
                    margin-left: 20px;
                    flex: 1;

                    &:first-child{
                        margin: 0;
                    }
                }

                input{
                    padding: 10px;
                    width: 100%;
                }

                label{
                    display: block;
                    margin-bottom: 5px;
                }
            }
        }

        .config-wrapper{
            max-width: 400px;
            margin: 0 auto 25px;
            padding: 0 0 20px;
            border-bottom: 1px solid $grey-2;

            .item{
                margin-bottom: 10px;

                &:last-child{
                    margin: 0;
                }

                >div{
                    span{
                        margin: 0 0 0 10px;
                    }

                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }

                input{
                    padding: 10px;
                    width: 90px;
                    outline: none;
                }
            }
        }
    }

    #rent-config{
        padding: 40px 30px 50px; 
        border-bottom: 1px solid $grey-1;
        
        .settings-wrapper{
            margin: 30px auto 20px;
            max-width: $constrained-lg;

            .col{
                padding: 20px;
                border: 1px solid $grey-2;
                margin-left: 20px;
                text-align: left;
                
                &:first-child{
                    margin: 0;
                }

                &.traditional-wrapper .header{
                    height: 32px;
                }

                .config-wrapper{
                    padding: 25px 0 15px;
                    border-bottom: 1px solid $grey-2;

                    .item{
                        margin-bottom: 10px;

                        &:last-child{
                            margin: 0;
                        }

                        >div{
                            span{
                                margin: 0 0 0 10px;
                            }

                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }

                        input{
                            padding: 10px;
                            width: 90px;
                            outline: none;
                        }
                    }
                }
            }
        } 

        .rental-calculation-wrapper{
            max-width: $constrained-lg;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid $grey-2;

            .rental-type-select{
                font-size: 20px;
                margin: 0 0 25px;

                .dropdown-toggle{
                    margin: 0 10px;
                    padding: 10px;
                    border: 1px solid $grey-4;
                    cursor: pointer;

                    &.airbnb{
                        color: #FF5A5F;
                    }
                }

                .dropdown-menu{
                    li{
                        cursor: pointer;
                        transition: all 300ms ease;
                        background: #f3f3f3;
                        padding: 10px 20px;
                        margin: 0;
                        
                        &:hover{
                            background: #e4e4e4;
                        }
                    }
                }
            }

            .rental-calculations{
                max-width: $constrained;
                margin: 0 auto;

                .estimate{
                    font-size: 40px;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }
        }
    }

    #remodel-config{
        padding: 50px 0 0;

        .section-headline{
            margin-bottom: 20px;
        }

        .cashout-estimate{
            font-size: 40px;
            margin: 20px 0 5px;
        }

        h3{
            margin: 30px 0 35px;
        }

        .remodel-select{
            max-width: 400px;
            margin: 0 auto 30px;
            flex-wrap: wrap;

            .item{
                width: 50%;
                cursor: pointer;                
                
                &:hover{
                    .checkbox{
                        border-color: $blue;
                        color: $grey-2;
                    }
                }

                &.active{
                    .checkbox{
                        border-color: $blue;
                        color: $blue;
                    }
                }

                .checkbox{
                    width: 24px;
                    height: 24px;
                    color: $white;
                    border: 1px solid $grey-3;
                    margin-right: 10px;
                    transition: all 300ms ease;

                    svg{
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        table{
            text-align: left;
            width: 100%;
            padding: 0 30px;
            max-width: 730px;
            margin: 0 auto 35px;

            th{
                font-weight: bold;
                border-bottom: 1px solid $black;
                padding: 0 0 10px;

                .dropdown-toggle{
                    cursor: pointer;
                }

                .dropdown-menu{
                    li{
                        cursor: pointer;
                        transition: all 300ms ease;
                        background: #f3f3f3;
                        padding: 10px 20px;
                        margin: 0;
                        
                        &:hover{
                            background: #e4e4e4;
                        }
                    }
                }
            }

            td{
                padding: 10px 0;

                &:last-child{
                    width: 110px;
                }

                input{
                    width: 90px;
                    padding: 10px;
                    border: 1px solid $grey-2;
                }
            }

            tr:first-child{
                td{
                    padding: 20px 0 0;
                }
            }
        }

        .breakdown{
            max-width: 730px;
            margin: 0 auto 40px;
            padding: 0 0 35px;
            border-bottom: 1px solid $grey-2;

            .col{
                display: flex;
                align-items: flex-start;
                text-align: left;
                border: 1px solid $grey-2;
                padding: 15px;
                flex: 1;
                margin-left: 15px;

                &:first-child{
                    margin: 0;
                }

                h3{
                    margin: 5px 0 0;
                }

                p{
                    font-size: 14px;
                }

                .circle-icon {
                    background: $trans-blue;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 42px;
                    min-height: 42px;
                    margin-right: 15px;
                    border-radius: 50%;
                    color: $blue;
                }
            }
        }

        .yelp-wrapper{
            padding: 0 30px;

            .header{
                position: relative;

                img{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

            .yelp-card-wrapper{
                text-align: left;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto 40px;

                .card{
                    width: calc(33% - 20px);
                    margin: 0 0 20px 20px;

                    .img{
                        height: 140px;
                        display: block;
                    }

                    .bottom{
                        padding: 15px;
                        border: 1px solid $grey-2;
                        border-top: 0;

                        > a {
                            margin-bottom: 10px;
                            display: block;
                        }
                    }
                }
            }

            // Grid Supported Browsers
            @supports (display: grid) {
                .yelp-card-wrapper {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                    grid-gap: 20px;

                    @media (max-width: 1000px) {
                        grid-gap: 20px;
                    }

                    .card {
                        width: unset;
                        margin: 0;
                    }
                }
            }
        }
    }
}

// Market Report

.report-wrapper{
    border: 1px solid $grey-2;

    .header-map-wrapper{
        position: relative;
        height: 250px;

        .back {
            position: absolute;
            z-index: 1;
            left: 10px;
            top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 300ms ease;

            &:hover {
                background: #f3f3f3;
            }
        }
    }

    .report-header{
        padding: 30px 30px 0;
        position: relative;

        .style-underline{
            margin: 5px 0 0;
            padding: 0 0 10px;
            border-bottom: 5px solid $black;
        }

        .share-report{
            position: absolute;
            right: 30px;
            top: 30px;
        }
    }

    .stats-wrapper{
        margin: 40px 0 60px;
        padding: 0 30px;

        @media (max-width: 1200px){
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .stat{
            padding: 15px;
            border: 1px solid $grey-2;
            flex: 1;
            display: flex;
            align-items: flex-start;
            text-align: left;
            margin-left: 10px;
            background: #fff;

            @media (max-width: 1200px){
                width: calc(50% - 10px);
                margin: 0 0 10px;
                flex: unset;
            }

            &:first-child{
                margin: 0;

                @media (max-width: 1200px){
                    margin: 0 0 10px;
                }
            }

            .circle-icon {
                background: $trans-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 42px;
                min-height: 42px;
                margin-right: 15px;
                border-radius: 50%;
                color: $blue;
            }

            .grey{
                font-size: 14px;
                margin: 0 0 5px;
            }
        }
    }

    .ave-price-chart-wrapper{
        position: relative;
        overflow-x: hidden;

        .legend{
            text-align: center;
            font-size: 14px;

            .bold{
                font-size: 16px;
                margin: 0 0 5px
            }
        }

        .chart-wrapper{
            height: 350px;
            position: relative;
            transform: translateX(-3.5%);
            width: 107%;

            canvas{
                height: 100%;
            }
        }
    }

    .small-chart-wrapper{
        background: #fff;
        padding: 0 30px 50px;

        .chart-title{
            text-align: center;
            margin-bottom: 30px;
        }

        .col{
            flex: 1;
            margin-left: 20px;

            &:first-child{
                margin: 0;
            }
        }
    }

    .property-types-chart-wrapper{
        justify-content: center;

        .left{
            position: relative;
            // flex: 1;
            width: 160px;
            height: 160px;

            .total{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                text-align: center;
                font-size: 14px;

                .count{
                    font-size: 24px;
                    margin: 0 0 5px;
                }
            }
        }

        .legend{
            font-size: 16px;
            margin-left: 30px;

            .color{
                border-radius: 50%;
                width: 10px;
                height: 10px;
                background: #3D6DBF;
                margin-right: 10px;

                &.condo{
                    background: $blue;
                }
                &.other{
                    background: #8CB6FE;
                }
            }
        }
    }

    .market-temp-wrapper{
        background: #fff;
        text-align: center;
        padding-bottom: 50px;
        border-bottom: 1px solid $grey-2;
        border-top: 1px solid $grey-2;

        .section-headline{
            margin: 50px 0 20px;
        }

        .gradient-bar-wrapper {
            margin: 80px auto 0;
            padding: 0 70px 0 60px;

            .gradient-bar {
                height: 22px;
                background: linear-gradient(90deg, $blue 0%, #F58E44 100%);
                border-radius: 22px;
                margin: 0 0 5px;
                position: relative;

                > div{
                    position: absolute;
                    font-weight: bold;
                    top: 50%;

                    &.low{
                        left: -30px;
                        transform: translateY(-50%);
                    }
                    
                    &.high{
                        right: -40px;
                        transform: translateY(-50%);
                    }

                    &.current-temp{
                        font-size: 30px;
                        padding: 0 0 5px;
                        left: 62%;
                        top: -50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        transform: translateX(-50%);

                        &.orange{
                            .arrow{
                                border-top-color: $orange;
                            }
                        }

                        .arrow{
                            margin-top: 3px;
                            width: 0; 
                            height: 0; 
                            border-left: 11px solid transparent;
                            border-right: 11px solid transparent;
                            border-top: 13px solid $blue;
                        }
                    }
                }
            }

            .grey {
                margin-top: 5px;
                font-size: 14px;
            }

            .highest {
                text-align: right;
            }

            .lowest {
                text-align: left;
            }
        }
    }

    .comps{
        .stats-wrapper{
            padding: 0;
        }
    }
}