body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #f8fafa;
}

div,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
input,
textarea,
button {
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

a {
  text-decoration: none !important;
  font-size: 16px;
  color: #000;
}

p {
  font-size: 16px;
}

div,
a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.blue {
  color: #4D8AF0;
}

.blue.link {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.blue.link :hover {
  color: #1e6bec;
}

.orange {
  color: #F58E44;
}

.green {
  color: #5FAD56;
}

.grey {
  color: #818181;
}

.dot {
  width: 5px;
  height: 5px;
  background: #a3a3a3;
  border-radius: 50%;
  margin: 0 10px;
}

button,
.btn {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 10px 20px;
  display: inline-block;
  outline: none;
}

button.primary,
.btn.primary {
  background: #4D8AF0;
  color: #fff;
  border: 2px solid #4D8AF0;
}

button.primary:hover,
.btn.primary:hover {
  background: #1e6bec;
  border: 2px solid #1e6bec;
}

button.outline,
.btn.outline {
  color: #4D8AF0;
  border: 2px solid #4D8AF0;
}

button.outline:hover,
.btn.outline:hover {
  background: #1e6bec;
  border: 2px solid #1e6bec;
  color: #fff;
}

button.icon-btn,
.btn.icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.icon-btn svg,
.btn.icon-btn svg {
  width: 20px;
  height: 20px;
}

button.icon-btn span,
.btn.icon-btn span {
  margin-left: 5px;
  line-height: 19px;
}

.tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
}

.tab-header .tab-trigger {
  padding: 20px 20px 17px;
  border-bottom: 3px solid transparent;
  margin-bottom: -1px;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.tab-header .tab-trigger:hover {
  border-color: #d8d8d8;
}

.tab-header .tab-trigger.active {
  color: #4D8AF0;
  border-color: #4D8AF0;
}

.tab-pane {
  display: none;
}

.tab-pane.open {
  display: block;
}

.tab-trigger {
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.tab-trigger > * {
  pointer-events: none;
}

.top-bar {
  background: #fff;
  padding: 20px 60px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.062);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.062);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

@media (max-width: 1200px) {
  .top-bar {
    padding: 20px 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #d8d8d8;
  }
}

.top-bar .agent-pic {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .top-bar .agent-contact > a {
    margin-right: 20px !important;
  }
  .top-bar .agent-contact > a:last-child {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  .top-bar .actions a:first-child {
    display: none;
  }
}

.sidebar-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1500px;
  padding: 0 60px;
  margin: 30px auto 60px;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .sidebar-grid {
    padding: 0 30px;
  }
}

@media (max-width: 1000px) {
  .sidebar-grid {
    padding: 0 20px 0 0;
    margin: 0 0 60px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media (max-width: 1200px) {
  .sidebar-grid.hv-sidebar {
    padding: 0;
    margin: 0 0 60px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.sidebar-grid.hv-sidebar .sidebar {
  width: 315px;
  position: relative;
  top: unset;
  height: auto;
}

.sidebar-grid.hv-sidebar .page-content {
  width: calc( 100% - 30px - 315px);
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .sidebar-grid.hv-sidebar .page-content {
    margin: 0;
  }
}

.sidebar-grid .sidebar {
  width: 315px;
}

@media (max-width: 1000px) {
  .sidebar-grid .sidebar {
    width: 250px;
    position: fixed;
    top: 98px;
    height: 100%;
  }
}

.sidebar-grid .page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}

@media (max-width: 1000px) {
  .sidebar-grid .page-content {
    margin: 20px 0 0 270px;
  }
}

.nav {
  border: 1px solid #e7e7e7;
}

@media (max-width: 1000px) {
  .nav {
    height: 100%;
    border-top: none;
  }
}

.nav .link {
  width: 100%;
  padding: 20px;
  font-weight: bold;
  border-bottom: 1px solid #E7E7E7;
  border-right: 3px solid transparent;
  color: #000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #fff;
}

.nav .link:hover {
  background: #f3f3f3;
}

.nav .link.active {
  border-right-color: #4D8AF0;
  color: #4D8AF0;
  background: #f8f8f8;
}

.nav .link.inactive {
  pointer-events: none;
  color: #a3a3a3;
}

.nav .link:last-child {
  border-bottom: none;
}

@media (max-width: 1000px) {
  .nav .link:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
}

.nav .link svg {
  width: 20px;
  height: 20px;
}

.toolbar {
  border: 1px solid #e7e7e7;
  padding: 20px;
  margin-bottom: 30px;
  background: #fff;
}

@media (max-width: 1000px) {
  .toolbar {
    padding: 0;
    border: none;
  }
}

.card-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-grid .card {
  width: calc(33.33% - 20px);
  margin: 0 10px 30px;
  background: #fff;
}

@media (max-width: 1450px) {
  .card-grid .card {
    width: calc(50% - 15px);
    margin: 0 7.5px 30px;
  }
}

@media (max-width: 1000px) {
  .card-grid .card {
    width: 100%;
  }
}

@supports (display: grid) {
  .card-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 30px;
  }
  @media (max-width: 1000px) {
    .card-grid {
      grid-gap: 20px;
    }
  }
  .card-grid .card {
    width: unset;
    margin: 0;
  }
  .card-grid .card .card-inner {
    margin: 0;
  }
}

.card-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 450px;
  margin: 25px auto 0;
  padding: 0 10px;
}

.card-actions .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #000;
  cursor: pointer;
}

.card-actions .action:hover {
  color: #4D8AF0;
}

.card-actions .action svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.card .hv-report .listing-img {
  height: 180px;
  display: block;
  position: relative;
}

.card .hv-report .listing-img .price-tag {
  position: absolute;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  margin: 10px 0 0 10px;
  border-radius: 3px;
  font-weight: bold;
}

.card .hv-report .hv-bottom {
  padding: 20px;
  border: 1px solid #e7e7e7;
}

.card .hv-report .hv-bottom .address span {
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.card .hv-report .hv-bottom .set-primary {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
}

.card .hv-report .hv-bottom .set-primary.active {
  cursor: initial;
}

.card .hv-report .hv-bottom .set-primary.active svg {
  fill: #F2DC5D;
}

.card .hv-report .hv-bottom .set-primary.active svg path {
  stroke: #F2DC5D !important;
}

.card .hv-report .hv-bottom .set-primary.active:before {
  content: "Your Primary Residence";
}

.card .hv-report .hv-bottom .set-primary:before {
  content: "Make Primary Residence";
  background: rgba(0, 0, 0, 0.75);
  padding: 5px;
  font-size: 16px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: -10px;
  display: inline-block;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 2;
}

.card .hv-report .hv-bottom .set-primary:hover:before {
  top: -20px;
  opacity: 1;
  visibility: visible;
}

.card .hv-report .hv-bottom .details span {
  font-size: 16px;
}

.prop-details {
  background: #fff;
}

.prop-details .map-wrapper {
  height: 175px;
  position: relative;
}

.prop-details .map-wrapper .back {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.prop-details .map-wrapper .back:hover {
  background: #f3f3f3;
}

.prop-details .bottom {
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-top: none;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .prop-details .bottom {
    margin-bottom: 0;
  }
}

.prop-details h2 {
  margin: 0 0 10px;
}

.prop-details .details {
  margin: 20px 0 0;
}

.box {
  padding: 20px;
  border: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background: #fff;
}

@media (max-width: 1200px) {
  .box {
    margin-bottom: 0;
  }
}

.box:last-child {
  margin-bottom: 0;
}

.box .header {
  padding: 0 0 15px;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.box .header .circle-icon {
  background: #ECF2FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50px;
  min-height: 50px;
  margin-right: 15px;
  border-radius: 50%;
  color: #4D8AF0;
}

.box .header .edit {
  position: absolute;
  right: -5px;
  top: -5px;
}

.box .header .edit svg {
  height: 218x;
  width: 18px;
}

.box .header .label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
  padding: 0;
}

.estimate-range {
  margin-top: 15px;
}

.estimate-range .tag {
  padding: 5px;
  font-size: 14px;
}

.estimate-range .tag.high {
  color: #5FAD56;
  background: #F0FCF8;
}

.estimate-range .tag.low {
  color: #F58E44;
  background: #FEF7F2;
}

.section-headline {
  border-bottom: 5px solid #282828;
  padding: 5px 0 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.headline-label {
  display: block;
}

.share-download {
  position: absolute;
  top: 84px;
  z-index: 2;
  left: 30px;
}

.hv-report-wrapper {
  position: relative;
}

.hv-report-wrapper .tab-wrapper {
  padding: 17px 0 0 0;
  background: #fff;
}

.hv-report-wrapper .tab-wrapper .tab-trigger {
  padding-top: 0;
}

.hv-report-wrapper .tab-wrapper .add-report {
  border-bottom: 1px solid #d8d8d8;
  padding: 0 20px 15px 0;
  margin-top: -3px;
}

.hv-report-wrapper .tab-pane {
  border: 1px solid #d8d8d8;
  background: #fff;
}

.hv-report-wrapper .current-home-value {
  border-bottom: 1px solid #f1f1f1;
  padding: 50px 30px 40px;
  text-align: center;
}

.hv-report-wrapper .current-home-value .gradient-bar-wrapper {
  max-width: 600px;
  margin: 35px auto 20px;
}

.hv-report-wrapper .current-home-value .gradient-bar-wrapper .gradient-bar {
  height: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#F58E44), to(#00D48D));
  background: linear-gradient(90deg, #F58E44 0%, #00D48D 100%);
  border-radius: 22px;
  margin-bottom: 5px;
}

.hv-report-wrapper .current-home-value .gradient-bar-wrapper .grey {
  margin-top: 5px;
  font-size: 14px;
}

.hv-report-wrapper .current-home-value .gradient-bar-wrapper .highest {
  text-align: right;
}

.hv-report-wrapper .current-home-value .gradient-bar-wrapper .lowest {
  text-align: left;
}

.hv-report-wrapper .current-home-value .other-estimates {
  max-width: 600px;
  margin: 15px auto 0;
  border-top: 1px solid #f1f1f1;
  padding: 20px 0 0;
}

.hv-report-wrapper .current-home-value .other-estimates .col {
  width: 50%;
  text-align: center;
}

.hv-report-wrapper .current-home-value .other-estimates .col img {
  max-height: 25px;
  margin: 0 auto 10px;
  display: block;
}

.hv-report-wrapper .comp-table-block table {
  width: 100%;
  padding: 20px;
}

.hv-report-wrapper .comp-table-block table thead {
  border-bottom: 1px solid #f1f1f1;
  text-align: left;
}

.hv-report-wrapper .comp-table-block table thead th {
  padding: 20px 30px;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .hv-report-wrapper .comp-table-block table thead th:last-child {
    display: none;
  }
}

.hv-report-wrapper .comp-table-block table tbody {
  border-top: none;
}

.hv-report-wrapper .comp-table-block table tbody td {
  padding: 15px 30px;
}

@media (max-width: 1200px) {
  .hv-report-wrapper .comp-table-block table tbody td:last-child {
    display: none;
  }
}

.hv-report-wrapper .comp-table-block table tbody tr {
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.hv-report-wrapper .comp-table-block table tbody tr:hover {
  background: #f8fafa;
}

.hv-report-wrapper .comp-table-block table tbody tr:first-child td {
  padding: 20px 30px 15px;
}

.hv-report-wrapper .comp-table-block table tbody tr:last-child td {
  padding: 14px 30px 30px;
}

.hv-report-wrapper .comp-table-block .plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-left: 5px;
  display: none;
}

.hv-report-wrapper .comp-table-block .plus-minus.up {
  color: #5FAD56;
  display: block;
}

.hv-report-wrapper .comp-table-block .plus-minus.down {
  color: #F58E44;
  display: block;
}

.hv-report-wrapper .comp-table-block .plus-minus svg {
  width: 16px;
  height: 16px;
}

.hv-report-wrapper .chart-block {
  padding: 30px;
  border-top: 1px solid #e7e7e7;
}

.hv-report-wrapper .chart-block .chart-legend {
  margin-bottom: 15px;
  font-size: 14px;
}

.hv-report-wrapper .chart-block .chart-legend > div {
  margin-left: 20px;
}

.hv-report-wrapper .chart-block .chart-legend > div:first-child {
  margin-left: 0;
}

.hv-report-wrapper .chart-block .chart-legend .color {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #79C7FF;
  margin-right: 5px;
}

.hv-report-wrapper .chart-block .chart-legend .color.comp-houses {
  background: #BBE3FF;
}

.hv-report-wrapper .chart-block .chart-wrapper {
  height: 28vw;
  max-height: 400px;
}

.hv-report-wrapper .no-equity-report {
  max-width: 600px;
  margin: 0 auto;
}

.hv-report-wrapper .no-equity-report .equity-header {
  text-align: center;
}

.hv-report-wrapper .no-equity-report .equity-header img {
  width: 95px;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper {
  position: relative;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper input {
  font-size: 16px;
  color: #000;
  background: #fff;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 10px 15px;
  outline: none !important;
  width: 100%;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper input:hover {
  border-color: #282828;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper label svg {
  width: 20px;
  height: 20px;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .dropdown-toggle {
  font-size: 16px;
  color: #000;
  background: #fff;
  border: 1px solid #d8d8d8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 10px 15px;
  cursor: pointer;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .dropdown-menu li {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #f3f3f3;
  padding: 10px 20px;
  margin: 0;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .dropdown-menu li:hover {
  background: #e4e4e4;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .input-row .input-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .input-row .input-wrapper:first-child {
  margin-left: 0;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .split-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper .split-input .prefix, .hv-report-wrapper .no-equity-report .equity-form-wrapper .split-input .suffix {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
  font-size: 16px;
  background: #d8d8d8;
}

.hv-report-wrapper .no-equity-report .equity-form-wrapper button {
  margin: 0 auto;
  display: inline-block;
}

.comps {
  text-align: center;
  padding: 30px;
  border-top: 1px solid #f1f1f1;
  background: #fff;
}

.comps h1 {
  margin: 0 auto 20px;
}

.comps > p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 19px;
  font-size: 16px;
}

.comps .stats-wrapper {
  margin: 40px 0 20px;
}

@media (max-width: 1100px) {
  .comps .stats-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.comps .stats-wrapper .stat {
  padding: 15px;
  border: 1px solid #d8d8d8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 10px;
}

@media (max-width: 1100px) {
  .comps .stats-wrapper .stat {
    width: calc(50% - 10px);
    margin: 0 0 10px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.comps .stats-wrapper .stat:first-child {
  margin: 0;
}

@media (max-width: 1100px) {
  .comps .stats-wrapper .stat:first-child {
    margin: 0 0 10px;
  }
}

.comps .stats-wrapper .stat .circle-icon {
  background: #ECF2FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 42px;
  min-height: 42px;
  margin-right: 15px;
  border-radius: 50%;
  color: #4D8AF0;
}

.comps .stats-wrapper .stat .grey {
  font-size: 14px;
  margin: 0 0 5px;
}

.comps .map-wrapper {
  position: relative;
  height: 530px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
}

.comps .comps-filters {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: left;
  border-top: 1px solid #d8d8d8;
}

@media (max-width: 630px) {
  .comps .comps-filters {
    border: none;
  }
}

.comps .comps-filters .filters-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

@media (max-width: 630px) {
  .comps .comps-filters .filters-wrapper {
    height: 0;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
  .comps .comps-filters .filters-wrapper.show {
    height: 330px;
  }
  .comps .comps-filters .filters-wrapper .filter, .comps .comps-filters .filters-wrapper .filter-left {
    width: 100%;
  }
}

.comps .comps-filters .filters-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  padding: 20px;
  margin: 0 auto;
}

.comps .comps-filters .filters-inner .filter-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comps .comps-filters .filters-inner .filter {
  margin-left: 25px;
}

.comps .comps-filters .filters-inner .filter:first-child {
  margin-left: 0;
}

.comps .comps-filters .filters-inner .filter .filter-label {
  font-weight: bold;
  font-size: 14px;
}

.comps .comps-filters .filters-inner .filter .dropdown-toggle {
  border: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  width: 150px;
  margin-top: 5px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.comps .comps-filters .filters-inner .filter .dropdown-toggle:hover {
  background: #f3f3f3;
}

@media (max-width: 730px) {
  .comps .comps-filters .filters-inner .filter .dropdown-toggle {
    width: 140px;
  }
}

@media (max-width: 630px) {
  .comps .comps-filters .filters-inner .filter .dropdown-toggle {
    width: 100%;
  }
}

.comps .comps-filters .filters-inner .filter .dropdown-menu li {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #f3f3f3;
  padding: 10px 20px;
  margin: 0;
}

.comps .comps-filters .filters-inner .filter .dropdown-menu li:hover {
  background: #e4e4e4;
}

.comps .comps-filters .filters-inner .mobile-filters-toggle {
  display: none;
  color: #009eeb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media (max-width: 630px) {
  .comps .comps-filters .filters-inner .mobile-filters-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.comps .comps-filters .filters-inner .mobile-filters-toggle svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.comps .comps-slider .listing-slide {
  outline: none !important;
}

.comps .comps-slider .listing-slide .slide-inner {
  margin: 0 10px;
}

.comps .comps-slider .listing-slide .listing-image {
  height: 160px;
  display: block;
  position: relative;
}

.comps .comps-slider .listing-slide .listing-image .price-tag {
  position: absolute;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  margin: 10px 0 0 10px;
  border-radius: 3px;
  font-weight: bold;
}

.comps .comps-slider .bottom {
  text-align: left;
  padding: 15px;
  border: 1px solid #d8d8d8;
  border-top: none;
}

.comps .comps-slider .bottom .street {
  font-size: 20px;
}

.comps .comps-slider .bottom .city {
  font-size: 16px;
  margin: 5px 0 15px;
}

.comps .comps-slider .bottom .details {
  font-size: 16px;
  padding: 0 0 15px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 15px;
}

.comps .comps-slider .bottom .distance-details {
  margin-bottom: 25px;
}

.comps .comps-slider .bottom .toggle-comp {
  color: #4D8AF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.comps .comps-slider .bottom .toggle-comp svg {
  width: 20px;
  height: 20px;
}

.comps .comps-slider .bottom .status-number {
  border-radius: 50%;
  height: 23px;
  width: 23px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #4D8AF0;
  color: #fff;
  line-height: 0;
  font-size: 14px;
}

.comps .comps-slider .bottom .status-number.active {
  background: #7551E9;
}

.comps .comps-slider .bottom .status-number.pending {
  background: #0A43D2;
}

.comps .comps-slider .bottom .status-number.sold {
  background: #2DCA73;
}

.comps .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin: 20px auto 0;
}

.comps .arrows .arrow {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.comps .arrows .arrow:hover {
  color: #4D8AF0;
}

.comps .arrows .arrow.slick-disabled {
  color: #a3a3a3 !important;
  cursor: auto;
}

.comps .arrows .arrow svg {
  width: 30px;
  height: 30px;
}

.equity-report {
  text-align: center;
}

.equity-report .headline-label {
  margin: 50px 0 5px;
}

.equity-report h1 {
  margin: 0 0 40px;
}

.equity-report .equity-breakdown {
  margin: 20px 30px 30px;
}

.equity-report .equity-breakdown .col {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equity-report .equity-breakdown .col.left .blue, .equity-report .equity-breakdown .col.left .orange, .equity-report .equity-breakdown .col.right .blue, .equity-report .equity-breakdown .col.right .orange {
  font-size: 40px !important;
  margin: 10px 0 5px;
}

.equity-report .equity-breakdown .col.center {
  position: relative;
}

.equity-report .equity-breakdown .col.center .total-paid {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equity-report .equity-breakdown .col.center .total-paid .grey {
  font-size: 14px;
  margin-top: -3px;
  display: block;
}

.equity-report .equity-breakdown .col.center .total-paid h3 {
  margin: 10px 0 0;
  font-size: 24px;
}

.equity-report .equity-breakdown .equity-chart-wrapper {
  height: 100%;
  z-index: 2;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.equity-report .equity-breakdown .equity-chart-wrapper canvas {
  height: 100%;
}

.equity-report .update-mortgage {
  padding: 15px 0 40px;
  margin: 0 auto 40px;
  max-width: 600px;
  border-bottom: 1px solid #f1f1f1;
}

.equity-report .what-if-wrapper {
  font-size: 20px;
}

.equity-report .what-if-wrapper input {
  margin: 0 10px;
  padding: 5px 10px;
  max-width: 95px;
  outline: none;
}

.equity-report .what-if-result {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0 15px;
}

.equity-report .what-if-description {
  border-bottom: 1px solid #f1f1f1;
  padding: 0 0 50px;
  margin: 0 0 50px;
}

.equity-report .refi-options-wrapper {
  padding: 0 30px;
  text-align: left;
}

.equity-report .refi-options-wrapper .col {
  width: calc(33.33% - 20px);
  margin: 0 10px;
  padding: 15px;
  border: 1px solid #d8d8d8;
}

.equity-report .refi-options-wrapper .value {
  font-size: 30px;
  margin: 15px 0 20px;
}

.equity-report .refi-options-wrapper .header .term {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px;
}

.equity-report .refi-options-wrapper .pros-cons-wrapper .item svg {
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.equity-report .refi-options-wrapper .pros-cons-wrapper .item span {
  color: #000;
}

#future-plans h1 {
  text-align: center;
  margin: 0 auto;
}

#future-plans .plan-select {
  text-align: center;
  padding: 50px 30px;
  border-bottom: 1px solid #f1f1f1;
}

#future-plans .plan-select .headline-label {
  margin: 20px 0 30px;
}

#future-plans .plan-select .plans-wrapper .plan {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #d8d8d8;
  margin-left: 20px;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

#future-plans .plan-select .plans-wrapper .plan:hover {
  border-color: #4D8AF0;
}

#future-plans .plan-select .plans-wrapper .plan:hover .check {
  background: #ECF2FD;
}

#future-plans .plan-select .plans-wrapper .plan.active {
  background: #ECF2FD;
  border-color: #4D8AF0;
}

#future-plans .plan-select .plans-wrapper .plan.active .check {
  background: #4D8AF0;
  color: #fff;
}

#future-plans .plan-select .plans-wrapper .plan:first-child {
  margin: 0;
}

#future-plans .plan-select .plans-wrapper .plan.rent img {
  margin-left: 24px;
}

#future-plans .plan-select .plans-wrapper .plan .check {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  color: #818181;
  background-color: #d8d8d8;
  border-radius: 50%;
  -webkit-transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
  transition: all 300ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

#future-plans .plan-select .plans-wrapper .plan .check svg {
  height: 15px;
  width: 15px;
}

#future-plans .plan-select .plans-wrapper .plan h3 {
  margin: 15px 0 10px;
}

#future-plans .plan-select .plans-wrapper .plan p {
  line-height: 19px;
}

#future-plans .configure-plan {
  text-align: center;
  display: none;
}

#future-plans .configure-plan.open {
  display: block;
}

#future-plans #sell-config .sell-top {
  padding: 50px 30px 40px;
  border-bottom: #d8d8d8 solid 1px;
  max-width: 600px;
  margin: 0 auto 40px;
}

#future-plans #sell-config .sell-top .cost-estimate {
  font-size: 40px;
}

#future-plans #sell-config .sell-top .location-wrapper {
  margin: 25px 0 30px;
  font-size: 16px;
}

#future-plans #sell-config .sell-top .location-wrapper input {
  font-size: 16px;
  padding: 10px;
  margin: 0 10px;
  max-width: 137px;
  color: #4D8AF0;
}

#future-plans #sell-config .monthly {
  border-bottom: 1px solid #d8d8d8;
  padding: 0 0 40px;
}

#future-plans #sell-config .monthly .headline {
  font-size: 40px;
  margin: 0 0 10px;
}

#future-plans #sell-config .monthly .monthly-config {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

#future-plans #sell-config .monthly .monthly-config .input-wrapper {
  margin-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#future-plans #sell-config .monthly .monthly-config .input-wrapper:first-child {
  margin: 0;
}

#future-plans #sell-config .monthly .monthly-config input {
  padding: 10px;
  width: 100%;
}

#future-plans #sell-config .monthly .monthly-config label {
  display: block;
  margin-bottom: 5px;
}

#future-plans #sell-config .config-wrapper {
  max-width: 400px;
  margin: 0 auto 25px;
  padding: 0 0 20px;
  border-bottom: 1px solid #d8d8d8;
}

#future-plans #sell-config .config-wrapper .item {
  margin-bottom: 10px;
}

#future-plans #sell-config .config-wrapper .item:last-child {
  margin: 0;
}

#future-plans #sell-config .config-wrapper .item > div span {
  margin: 0 0 0 10px;
}

#future-plans #sell-config .config-wrapper .item > div svg {
  width: 20px;
  height: 20px;
}

#future-plans #sell-config .config-wrapper .item input {
  padding: 10px;
  width: 90px;
  outline: none;
}

#future-plans #rent-config {
  padding: 40px 30px 50px;
  border-bottom: 1px solid #f1f1f1;
}

#future-plans #rent-config .settings-wrapper {
  margin: 30px auto 20px;
  max-width: 1000px;
}

#future-plans #rent-config .settings-wrapper .col {
  padding: 20px;
  border: 1px solid #d8d8d8;
  margin-left: 20px;
  text-align: left;
}

#future-plans #rent-config .settings-wrapper .col:first-child {
  margin: 0;
}

#future-plans #rent-config .settings-wrapper .col.traditional-wrapper .header {
  height: 32px;
}

#future-plans #rent-config .settings-wrapper .col .config-wrapper {
  padding: 25px 0 15px;
  border-bottom: 1px solid #d8d8d8;
}

#future-plans #rent-config .settings-wrapper .col .config-wrapper .item {
  margin-bottom: 10px;
}

#future-plans #rent-config .settings-wrapper .col .config-wrapper .item:last-child {
  margin: 0;
}

#future-plans #rent-config .settings-wrapper .col .config-wrapper .item > div span {
  margin: 0 0 0 10px;
}

#future-plans #rent-config .settings-wrapper .col .config-wrapper .item > div svg {
  width: 20px;
  height: 20px;
}

#future-plans #rent-config .settings-wrapper .col .config-wrapper .item input {
  padding: 10px;
  width: 90px;
  outline: none;
}

#future-plans #rent-config .rental-calculation-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #d8d8d8;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-type-select {
  font-size: 20px;
  margin: 0 0 25px;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-type-select .dropdown-toggle {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #818181;
  cursor: pointer;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-type-select .dropdown-toggle.airbnb {
  color: #FF5A5F;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-type-select .dropdown-menu li {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #f3f3f3;
  padding: 10px 20px;
  margin: 0;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-type-select .dropdown-menu li:hover {
  background: #e4e4e4;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-calculations {
  max-width: 600px;
  margin: 0 auto;
}

#future-plans #rent-config .rental-calculation-wrapper .rental-calculations .estimate {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

#future-plans #remodel-config {
  padding: 50px 0 0;
}

#future-plans #remodel-config .section-headline {
  margin-bottom: 20px;
}

#future-plans #remodel-config .cashout-estimate {
  font-size: 40px;
  margin: 20px 0 5px;
}

#future-plans #remodel-config h3 {
  margin: 30px 0 35px;
}

#future-plans #remodel-config .remodel-select {
  max-width: 400px;
  margin: 0 auto 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#future-plans #remodel-config .remodel-select .item {
  width: 50%;
  cursor: pointer;
}

#future-plans #remodel-config .remodel-select .item:hover .checkbox {
  border-color: #4D8AF0;
  color: #d8d8d8;
}

#future-plans #remodel-config .remodel-select .item.active .checkbox {
  border-color: #4D8AF0;
  color: #4D8AF0;
}

#future-plans #remodel-config .remodel-select .item .checkbox {
  width: 24px;
  height: 24px;
  color: #fff;
  border: 1px solid #a3a3a3;
  margin-right: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#future-plans #remodel-config .remodel-select .item .checkbox svg {
  width: 18px;
  height: 18px;
}

#future-plans #remodel-config table {
  text-align: left;
  width: 100%;
  padding: 0 30px;
  max-width: 730px;
  margin: 0 auto 35px;
}

#future-plans #remodel-config table th {
  font-weight: bold;
  border-bottom: 1px solid #282828;
  padding: 0 0 10px;
}

#future-plans #remodel-config table th .dropdown-toggle {
  cursor: pointer;
}

#future-plans #remodel-config table th .dropdown-menu li {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #f3f3f3;
  padding: 10px 20px;
  margin: 0;
}

#future-plans #remodel-config table th .dropdown-menu li:hover {
  background: #e4e4e4;
}

#future-plans #remodel-config table td {
  padding: 10px 0;
}

#future-plans #remodel-config table td:last-child {
  width: 110px;
}

#future-plans #remodel-config table td input {
  width: 90px;
  padding: 10px;
  border: 1px solid #d8d8d8;
}

#future-plans #remodel-config table tr:first-child td {
  padding: 20px 0 0;
}

#future-plans #remodel-config .breakdown {
  max-width: 730px;
  margin: 0 auto 40px;
  padding: 0 0 35px;
  border-bottom: 1px solid #d8d8d8;
}

#future-plans #remodel-config .breakdown .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  border: 1px solid #d8d8d8;
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
}

#future-plans #remodel-config .breakdown .col:first-child {
  margin: 0;
}

#future-plans #remodel-config .breakdown .col h3 {
  margin: 5px 0 0;
}

#future-plans #remodel-config .breakdown .col p {
  font-size: 14px;
}

#future-plans #remodel-config .breakdown .col .circle-icon {
  background: #ECF2FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 42px;
  min-height: 42px;
  margin-right: 15px;
  border-radius: 50%;
  color: #4D8AF0;
}

#future-plans #remodel-config .yelp-wrapper {
  padding: 0 30px;
}

#future-plans #remodel-config .yelp-wrapper .header {
  position: relative;
}

#future-plans #remodel-config .yelp-wrapper .header img {
  position: absolute;
  right: 0;
  bottom: 0;
}

#future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 40px;
}

#future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper .card {
  width: calc(33% - 20px);
  margin: 0 0 20px 20px;
}

#future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper .card .img {
  height: 140px;
  display: block;
}

#future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper .card .bottom {
  padding: 15px;
  border: 1px solid #d8d8d8;
  border-top: 0;
}

#future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper .card .bottom > a {
  margin-bottom: 10px;
  display: block;
}

@supports (display: grid) {
  #future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
  }
  @media (max-width: 1000px) {
    #future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper {
      grid-gap: 20px;
    }
  }
  #future-plans #remodel-config .yelp-wrapper .yelp-card-wrapper .card {
    width: unset;
    margin: 0;
  }
}

.report-wrapper {
  border: 1px solid #d8d8d8;
}

.report-wrapper .header-map-wrapper {
  position: relative;
  height: 250px;
}

.report-wrapper .header-map-wrapper .back {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.report-wrapper .header-map-wrapper .back:hover {
  background: #f3f3f3;
}

.report-wrapper .report-header {
  padding: 30px 30px 0;
  position: relative;
}

.report-wrapper .report-header .style-underline {
  margin: 5px 0 0;
  padding: 0 0 10px;
  border-bottom: 5px solid #282828;
}

.report-wrapper .report-header .share-report {
  position: absolute;
  right: 30px;
  top: 30px;
}

.report-wrapper .stats-wrapper {
  margin: 40px 0 60px;
  padding: 0 30px;
}

@media (max-width: 1200px) {
  .report-wrapper .stats-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.report-wrapper .stats-wrapper .stat {
  padding: 15px;
  border: 1px solid #d8d8d8;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-left: 10px;
  background: #fff;
}

@media (max-width: 1200px) {
  .report-wrapper .stats-wrapper .stat {
    width: calc(50% - 10px);
    margin: 0 0 10px;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.report-wrapper .stats-wrapper .stat:first-child {
  margin: 0;
}

@media (max-width: 1200px) {
  .report-wrapper .stats-wrapper .stat:first-child {
    margin: 0 0 10px;
  }
}

.report-wrapper .stats-wrapper .stat .circle-icon {
  background: #ECF2FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 42px;
  min-height: 42px;
  margin-right: 15px;
  border-radius: 50%;
  color: #4D8AF0;
}

.report-wrapper .stats-wrapper .stat .grey {
  font-size: 14px;
  margin: 0 0 5px;
}

.report-wrapper .ave-price-chart-wrapper {
  position: relative;
  overflow-x: hidden;
}

.report-wrapper .ave-price-chart-wrapper .legend {
  text-align: center;
  font-size: 14px;
}

.report-wrapper .ave-price-chart-wrapper .legend .bold {
  font-size: 16px;
  margin: 0 0 5px;
}

.report-wrapper .ave-price-chart-wrapper .chart-wrapper {
  height: 350px;
  position: relative;
  -webkit-transform: translateX(-3.5%);
          transform: translateX(-3.5%);
  width: 107%;
}

.report-wrapper .ave-price-chart-wrapper .chart-wrapper canvas {
  height: 100%;
}

.report-wrapper .small-chart-wrapper {
  background: #fff;
  padding: 0 30px 50px;
}

.report-wrapper .small-chart-wrapper .chart-title {
  text-align: center;
  margin-bottom: 30px;
}

.report-wrapper .small-chart-wrapper .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.report-wrapper .small-chart-wrapper .col:first-child {
  margin: 0;
}

.report-wrapper .property-types-chart-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.report-wrapper .property-types-chart-wrapper .left {
  position: relative;
  width: 160px;
  height: 160px;
}

.report-wrapper .property-types-chart-wrapper .left .total {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  font-size: 14px;
}

.report-wrapper .property-types-chart-wrapper .left .total .count {
  font-size: 24px;
  margin: 0 0 5px;
}

.report-wrapper .property-types-chart-wrapper .legend {
  font-size: 16px;
  margin-left: 30px;
}

.report-wrapper .property-types-chart-wrapper .legend .color {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #3D6DBF;
  margin-right: 10px;
}

.report-wrapper .property-types-chart-wrapper .legend .color.condo {
  background: #4D8AF0;
}

.report-wrapper .property-types-chart-wrapper .legend .color.other {
  background: #8CB6FE;
}

.report-wrapper .market-temp-wrapper {
  background: #fff;
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}

.report-wrapper .market-temp-wrapper .section-headline {
  margin: 50px 0 20px;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper {
  margin: 80px auto 0;
  padding: 0 70px 0 60px;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar {
  height: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#4D8AF0), to(#F58E44));
  background: linear-gradient(90deg, #4D8AF0 0%, #F58E44 100%);
  border-radius: 22px;
  margin: 0 0 5px;
  position: relative;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar > div {
  position: absolute;
  font-weight: bold;
  top: 50%;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar > div.low {
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar > div.high {
  right: -40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar > div.current-temp {
  font-size: 30px;
  padding: 0 0 5px;
  left: 62%;
  top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar > div.current-temp.orange .arrow {
  border-top-color: #F58E44;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .gradient-bar > div.current-temp .arrow {
  margin-top: 3px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 13px solid #4D8AF0;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .grey {
  margin-top: 5px;
  font-size: 14px;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .highest {
  text-align: right;
}

.report-wrapper .market-temp-wrapper .gradient-bar-wrapper .lowest {
  text-align: left;
}

.report-wrapper .comps .stats-wrapper {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */